.player {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 483px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.player__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 18px;
}

.player__picture {
  width: 100%;
  height: 255px;
  object-fit: cover;
  object-position: top;
}

.player__data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}

.player__name {
  font-size: 1.375rem;
  max-width: 100px;
  text-transform: uppercase;
}

.player__data-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.player__data-detail {
  color: var(--secondary-color);
}

.button--solid {
  color: var(--white);
  background: var(--primary-color);
}

.bought {
  width: 156px;
  height: 45px;
  border-radius: 10px;
  background: var(--white);
  text-transform: uppercase;
  color: var(--button-click);
  font-weight: 700;
  border: 1px solid var(--black);
}

.sold {
  width: 156px;
  height: 45px;
  border-radius: 10px;
  background: var(--white);
  text-transform: uppercase;
  color: var(--terciary-color);
  font-weight: 700;
  border: 1px solid var(--black);
}

.player__superior-container {
  display: flex;
  justify-content: end;
}

.button--circle {
  width: 45px;
  height: 45px;
  background-color: var(--black);
  border-radius: 50%;
  border: 1px solid var(--terciary-color);
}

.player__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.delete-logo {
  position: absolute;
}
