:root {
  --primary-color: #1d1d1d;
  --secondary-color: #004a9f;
  --terciary-color: #831c1c;
  --main-button: #101010;
  --button-click: #126010;
  --button-login: rgba(51, 51, 51, 0.8);
  --white: #fff;
  --black: #000;
  --primary-font: "Mulish", sans-serif;
  --background-opacity: rgb(0, 0, 0, 0.8);
  --background-image: url(/public/img/background-login.webp);
  --background-image-body: url(/public/img/Rectangle1.webp);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: var(--background-image-body);
  background-size: contain;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}
