.navigation {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.navigation__list {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 11px;
}

.navigation-list__active.active {
  border-bottom: 2px dotted var(--white);
}

.navigation-list__inactive {
  border: none;
}

.navigation__add {
  width: max-content;
}

@media (min-width: 768px) {
  .navigation__list {
    gap: 55px;
  }
}
