.header {
  padding: 9px 20px;
  background: linear-gradient(
    70deg,
    rgba(1, 1, 24, 1) 65%,
    rgba(0, 0, 10, 1) 100%
  );
  border-bottom: 0.5px dotted var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 7px;
}

.button--solid-red {
  width: 82px;
  height: 45px;
  background-color: var(--terciary-color);
  color: var(--white);
}

.logo {
  width: 60px;
  height: 60px;
}
