.header {
  padding: 9px 20px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.button--solid-red {
  width: 75px;
  height: 45px;
  background-color: var(--terciary-color);
  color: var(--white);
}
